.color-gray-0 {
  color: #ffffff;
}

.color-gray-30 {
  color: #fcfcfc;
}

.color-gray-50 {
  color: #f9f9f9;
}

.color-gray-100 {
  color: #ededed;
}

.color-gray-150 {
  color: #e2e2e2;
}

.color-gray-200 {
  color: #dddddd;
}

.color-gray-300 {
  color: #cccccc;
}

.color-gray-500 {
  color: #a2a2a2;
}

.color-gray-550 {
  color: #989898;
}

.color-gray-600 {
  color: #919191;
}

.color-gray-650 {
  color: #8c8c8c;
}

.color-gray-700 {
  color: #727171;
}

.color-gray-800 {
  color: #545454;
}

.color-gray-850 {
  color: #494949;
}

.color-gray-900 {
  color: #333333;
}

.color-gray-1000 {
  color: #000000;
}

.color-gray-0-0 {
  color: rgba(255, 255, 255, 0);
}

.color-gray-0-12 {
  color: rgba(255, 255, 255, 0.12);
}

.color-gray-0-14 {
  color: rgba(255, 255, 255, 0.14);
}

.color-gray-0-20 {
  color: rgba(255, 255, 255, 0.2);
}

.color-gray-800-90 {
  color: rgba(84, 84, 84, 0.9);
}

.color-gray-1000-0 {
  color: rgba(0, 0, 0, 0);
}

.color-gray-1000-5 {
  color: rgba(0, 0, 0, 0.05);
}

.color-gray-1000-12 {
  color: rgba(0, 0, 0, 0.12);
}

.color-gray-1000-14 {
  color: rgba(0, 0, 0, 0.14);
}

.color-gray-1000-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-grayBlue-200 {
  color: #ced4da;
}

.color-grayBlue-300 {
  color: #c3ccdd;
}

.color-grayBlue-400 {
  color: #a2b0cb;
}

.color-grayBlue-500 {
  color: #8988a7;
}

.color-grayBlue-700 {
  color: #3e3151;
}

.color-grayBlue-800 {
  color: #1f2f3c;
}

.color-grayBlue-850 {
  color: #322741;
}

.color-grayBlue-900 {
  color: #16222b;
}

.color-grayBlue-950 {
  color: #131d24;
}

.color-grayBlue-850-12 {
  color: rgba(50, 39, 65, 0.12);
}

.color-grayBlue-850-14 {
  color: rgba(50, 39, 65, 0.14);
}

.color-grayBlue-850-20 {
  color: rgba(50, 39, 65, 0.2);
}

.color-grayBlue-950-80 {
  color: rgba(19, 29, 36, 0.8);
}

.color-red-50 {
  color: #f7dfe0;
}

.color-red-100 {
  color: #fbe4e5;
}

.color-red-200 {
  color: #e39ba0;
}

.color-red-300 {
  color: #d56d74;
}

.color-red-400 {
  color: #c84049;
}

.color-red-500 {
  color: #ba121e;
}

.color-red-600 {
  color: #950e18;
}

.color-red-700 {
  color: #700b12;
}

.color-red-800 {
  color: #4a070c;
}

.color-red-500-12 {
  color: rgba(186, 18, 30, 0.12);
}

.color-red-500-14 {
  color: rgba(186, 18, 30, 0.14);
}

.color-red-500-20 {
  color: rgba(186, 18, 30, 0.2);
}

.color-yellow-100 {
  color: #f6ebca;
}

.color-yellow-300 {
  color: #ffda6a;
}

.color-yellow-400 {
  color: #ffcd39;
}

.color-yellow-500 {
  color: #e6ac00;
}

.color-yellow-600 {
  color: #b28606;
}

.color-yellow-700 {
  color: #7f5f00;
}

.color-yellow-900 {
  color: #2a2000;
}

.color-green-100 {
  color: #e0f5cd;
}

.color-green-200 {
  color: #b0cf94;
}

.color-green-300 {
  color: #91bb6d;
}

.color-green-400 {
  color: #73a647;
}

.color-green-500 {
  color: #559220;
}

.color-green-600 {
  color: #44751a;
}

.color-green-700 {
  color: #335813;
}

.color-green-600-12 {
  color: rgba(68, 117, 26, 0.12);
}

.color-green-600-14 {
  color: rgba(68, 117, 26, 0.14);
}

.color-green-600-20 {
  color: rgba(68, 117, 26, 0.2);
}

.color-blue-100 {
  color: #ccefff;
}

.color-blue-500 {
  color: #00aeff;
}

.color-blue-900 {
  color: #16222b;
}

.color-masterMerchant-100 {
  color: #f0f5fa;
}

.color-masterMerchant-200 {
  color: #e3f0fa;
}

.color-masterMerchant-300 {
  color: #a9bdcb;
}

.color-masterMerchant-400 {
  color: #008bf2;
}

.color-masterMerchant-500 {
  color: #006bbb;
}

.color-masterMerchant-800 {
  color: #353b50;
}

.color-masterMerchant-400-12 {
  color: rgba(0, 139, 242, 0.12);
}

.color-masterMerchant-400-14 {
  color: rgba(0, 139, 242, 0.14);
}

.color-masterMerchant-400-20 {
  color: rgba(0, 139, 242, 0.2);
}

.color-GASH-100 {
  color: #facce2;
}

.color-GASH-200 {
  color: #f599c5;
}

.color-GASH-300 {
  color: #ef66a8;
}

.color-GASH-400 {
  color: #ea338b;
}

.color-GASH-500 {
  color: #e5006e;
}

.color-GASH-550 {
  color: #c0105f;
}

.color-GASH-600 {
  color: #b70058;
}

.color-GASH-500-12 {
  color: rgba(229, 0, 110, 0.12);
}

.color-GASH-500-14 {
  color: rgba(229, 0, 110, 0.14);
}

.color-GASH-500-20 {
  color: rgba(229, 0, 110, 0.2);
}

.color-bfGreen-100 {
  color: #d1f3e2;
}

.color-bfGreen-400 {
  color: #1bd87b;
}

.color-bfGreen-450 {
  color: #19ca73;
}

.color-bfGreen-500 {
  color: #18c16e;
}

.color-bfGreen-400-12 {
  color: rgba(27, 216, 123, 0.12);
}

.color-bfGreen-400-14 {
  color: rgba(27, 216, 123, 0.14);
}

.color-bfGreen-400-20 {
  color: rgba(27, 216, 123, 0.2);
}

.color-Primary {
  color: #e5006e;
}

.color-LightPrimary {
  color: #facce2;
}

.color-DarkPrimary {
  color: #b70058;
}

.color-Primary-12 {
  color: rgba(229, 0, 110, 0.12);
}

.color-Primary-14 {
  color: rgba(229, 0, 110, 0.14);
}

.color-Primary-20 {
  color: rgba(229, 0, 110, 0.2);
}

.color-Primary-80 {
  color: rgba(229, 0, 110, 0.8);
}

.color-Secondary {
  color: #1f2f3c;
}

.color-DarkSecondary {
  color: #131d24;
}

.color-Secondary-12 {
  color: rgba(0, 0, 0, 0.12);
}

.color-Secondary-14 {
  color: rgba(0, 0, 0, 0.14);
}

.color-Secondary-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-Success {
  color: #559220;
}

.color-LightSuccess {
  color: #e0f5cd;
}

.color-Success-12 {
  color: rgba(68, 117, 26, 0.12);
}

.color-Success-14 {
  color: rgba(68, 117, 26, 0.14);
}

.color-Success-20 {
  color: rgba(68, 117, 26, 0.2);
}

.color-Danger {
  color: #ba121e;
}

.color-LightDanger {
  color: #fbe4e5;
}

.color-Danger-12 {
  color: rgba(186, 18, 30, 0.12);
}

.color-Danger-14 {
  color: rgba(186, 18, 30, 0.14);
}

.color-Danger-20 {
  color: rgba(186, 18, 30, 0.2);
}

.color-Warning {
  color: #e6ac00;
}

.color-LightWarning {
  color: #f6ebca;
}

.color-Info {
  color: #00aeff;
}

.color-LightInfo {
  color: #ccefff;
}

.bg-gray-0 {
  background-color: #ffffff;
}

.bg-gray-30 {
  background-color: #fcfcfc;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.bg-gray-100 {
  background-color: #ededed;
}

.bg-gray-150 {
  background-color: #e2e2e2;
}

.bg-gray-200 {
  background-color: #dddddd;
}

.bg-gray-300 {
  background-color: #cccccc;
}

.bg-gray-500 {
  background-color: #a2a2a2;
}

.bg-gray-550 {
  background-color: #989898;
}

.bg-gray-600 {
  background-color: #919191;
}

.bg-gray-650 {
  background-color: #8c8c8c;
}

.bg-gray-700 {
  background-color: #727171;
}

.bg-gray-800 {
  background-color: #545454;
}

.bg-gray-850 {
  background-color: #494949;
}

.bg-gray-900 {
  background-color: #333333;
}

.bg-gray-1000 {
  background-color: #000000;
}

.bg-gray-0-0 {
  background-color: rgba(255, 255, 255, 0);
}

.bg-gray-0-12 {
  background-color: rgba(255, 255, 255, 0.12);
}

.bg-gray-0-14 {
  background-color: rgba(255, 255, 255, 0.14);
}

.bg-gray-0-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-gray-800-90 {
  background-color: rgba(84, 84, 84, 0.9);
}

.bg-gray-1000-0 {
  background-color: rgba(0, 0, 0, 0);
}

.bg-gray-1000-5 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-gray-1000-12 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-gray-1000-14 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bg-gray-1000-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-grayBlue-200 {
  background-color: #ced4da;
}

.bg-grayBlue-300 {
  background-color: #c3ccdd;
}

.bg-grayBlue-400 {
  background-color: #a2b0cb;
}

.bg-grayBlue-500 {
  background-color: #8988a7;
}

.bg-grayBlue-700 {
  background-color: #3e3151;
}

.bg-grayBlue-800 {
  background-color: #1f2f3c;
}

.bg-grayBlue-850 {
  background-color: #322741;
}

.bg-grayBlue-900 {
  background-color: #16222b;
}

.bg-grayBlue-950 {
  background-color: #131d24;
}

.bg-grayBlue-850-12 {
  background-color: rgba(50, 39, 65, 0.12);
}

.bg-grayBlue-850-14 {
  background-color: rgba(50, 39, 65, 0.14);
}

.bg-grayBlue-850-20 {
  background-color: rgba(50, 39, 65, 0.2);
}

.bg-grayBlue-950-80 {
  background-color: rgba(19, 29, 36, 0.8);
}

.bg-red-50 {
  background-color: #f7dfe0;
}

.bg-red-100 {
  background-color: #fbe4e5;
}

.bg-red-200 {
  background-color: #e39ba0;
}

.bg-red-300 {
  background-color: #d56d74;
}

.bg-red-400 {
  background-color: #c84049;
}

.bg-red-500 {
  background-color: #ba121e;
}

.bg-red-600 {
  background-color: #950e18;
}

.bg-red-700 {
  background-color: #700b12;
}

.bg-red-800 {
  background-color: #4a070c;
}

.bg-red-500-12 {
  background-color: rgba(186, 18, 30, 0.12);
}

.bg-red-500-14 {
  background-color: rgba(186, 18, 30, 0.14);
}

.bg-red-500-20 {
  background-color: rgba(186, 18, 30, 0.2);
}

.bg-yellow-100 {
  background-color: #f6ebca;
}

.bg-yellow-300 {
  background-color: #ffda6a;
}

.bg-yellow-400 {
  background-color: #ffcd39;
}

.bg-yellow-500 {
  background-color: #e6ac00;
}

.bg-yellow-600 {
  background-color: #b28606;
}

.bg-yellow-700 {
  background-color: #7f5f00;
}

.bg-yellow-900 {
  background-color: #2a2000;
}

.bg-green-100 {
  background-color: #e0f5cd;
}

.bg-green-200 {
  background-color: #b0cf94;
}

.bg-green-300 {
  background-color: #91bb6d;
}

.bg-green-400 {
  background-color: #73a647;
}

.bg-green-500 {
  background-color: #559220;
}

.bg-green-600 {
  background-color: #44751a;
}

.bg-green-700 {
  background-color: #335813;
}

.bg-green-600-12 {
  background-color: rgba(68, 117, 26, 0.12);
}

.bg-green-600-14 {
  background-color: rgba(68, 117, 26, 0.14);
}

.bg-green-600-20 {
  background-color: rgba(68, 117, 26, 0.2);
}

.bg-blue-100 {
  background-color: #ccefff;
}

.bg-blue-500 {
  background-color: #00aeff;
}

.bg-blue-900 {
  background-color: #16222b;
}

.bg-masterMerchant-100 {
  background-color: #f0f5fa;
}

.bg-masterMerchant-200 {
  background-color: #e3f0fa;
}

.bg-masterMerchant-300 {
  background-color: #a9bdcb;
}

.bg-masterMerchant-400 {
  background-color: #008bf2;
}

.bg-masterMerchant-500 {
  background-color: #006bbb;
}

.bg-masterMerchant-800 {
  background-color: #353b50;
}

.bg-masterMerchant-400-12 {
  background-color: rgba(0, 139, 242, 0.12);
}

.bg-masterMerchant-400-14 {
  background-color: rgba(0, 139, 242, 0.14);
}

.bg-masterMerchant-400-20 {
  background-color: rgba(0, 139, 242, 0.2);
}

.bg-GASH-100 {
  background-color: #facce2;
}

.bg-GASH-200 {
  background-color: #f599c5;
}

.bg-GASH-300 {
  background-color: #ef66a8;
}

.bg-GASH-400 {
  background-color: #ea338b;
}

.bg-GASH-500 {
  background-color: #e5006e;
}

.bg-GASH-550 {
  background-color: #c0105f;
}

.bg-GASH-600 {
  background-color: #b70058;
}

.bg-GASH-500-12 {
  background-color: rgba(229, 0, 110, 0.12);
}

.bg-GASH-500-14 {
  background-color: rgba(229, 0, 110, 0.14);
}

.bg-GASH-500-20 {
  background-color: rgba(229, 0, 110, 0.2);
}

.bg-bfGreen-100 {
  background-color: #d1f3e2;
}

.bg-bfGreen-400 {
  background-color: #1bd87b;
}

.bg-bfGreen-450 {
  background-color: #19ca73;
}

.bg-bfGreen-500 {
  background-color: #18c16e;
}

.bg-bfGreen-400-12 {
  background-color: rgba(27, 216, 123, 0.12);
}

.bg-bfGreen-400-14 {
  background-color: rgba(27, 216, 123, 0.14);
}

.bg-bfGreen-400-20 {
  background-color: rgba(27, 216, 123, 0.2);
}

.bg-Primary {
  background-color: #e5006e;
}

.bg-LightPrimary {
  background-color: #facce2;
}

.bg-DarkPrimary {
  background-color: #b70058;
}

.bg-Primary-12 {
  background-color: rgba(229, 0, 110, 0.12);
}

.bg-Primary-14 {
  background-color: rgba(229, 0, 110, 0.14);
}

.bg-Primary-20 {
  background-color: rgba(229, 0, 110, 0.2);
}

.bg-Primary-80 {
  background-color: rgba(229, 0, 110, 0.8);
}

.bg-Secondary {
  background-color: #1f2f3c;
}

.bg-DarkSecondary {
  background-color: #131d24;
}

.bg-Secondary-12 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-Secondary-14 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bg-Secondary-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-Success {
  background-color: #559220;
}

.bg-LightSuccess {
  background-color: #e0f5cd;
}

.bg-Success-12 {
  background-color: rgba(68, 117, 26, 0.12);
}

.bg-Success-14 {
  background-color: rgba(68, 117, 26, 0.14);
}

.bg-Success-20 {
  background-color: rgba(68, 117, 26, 0.2);
}

.bg-Danger {
  background-color: #ba121e;
}

.bg-LightDanger {
  background-color: #fbe4e5;
}

.bg-Danger-12 {
  background-color: rgba(186, 18, 30, 0.12);
}

.bg-Danger-14 {
  background-color: rgba(186, 18, 30, 0.14);
}

.bg-Danger-20 {
  background-color: rgba(186, 18, 30, 0.2);
}

.bg-Warning {
  background-color: #e6ac00;
}

.bg-LightWarning {
  background-color: #f6ebca;
}

.bg-Info {
  background-color: #00aeff;
}

.bg-LightInfo {
  background-color: #ccefff;
}

:root {
  --bs-primary: #e5006e;
  --bs-primary-rgb: 229, 0, 110;
}

.text-bg-primary {
  color: #ffffff !important;
  background-color: RGBA(107, 10, 229, var(--bs-bg-opacity, 1)) !important;
}

.link-primary {
  color: #e5006e !important;
}
.link-primary:hover, .link-primary:focus {
  color: #b70058 !important;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}

/* rtl:end:remove */
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}