.color-gray-0 {
  color: #ffffff;
}

.color-gray-30 {
  color: #fcfcfc;
}

.color-gray-50 {
  color: #f9f9f9;
}

.color-gray-100 {
  color: #ededed;
}

.color-gray-150 {
  color: #e2e2e2;
}

.color-gray-200 {
  color: #dddddd;
}

.color-gray-300 {
  color: #cccccc;
}

.color-gray-500 {
  color: #a2a2a2;
}

.color-gray-550 {
  color: #989898;
}

.color-gray-600 {
  color: #919191;
}

.color-gray-650 {
  color: #8c8c8c;
}

.color-gray-700 {
  color: #727171;
}

.color-gray-800 {
  color: #545454;
}

.color-gray-850 {
  color: #494949;
}

.color-gray-900 {
  color: #333333;
}

.color-gray-1000 {
  color: #000000;
}

.color-gray-0-0 {
  color: rgba(255, 255, 255, 0);
}

.color-gray-0-12 {
  color: rgba(255, 255, 255, 0.12);
}

.color-gray-0-14 {
  color: rgba(255, 255, 255, 0.14);
}

.color-gray-0-15 {
  color: rgba(255, 255, 255, 0.15);
}

.color-gray-0-20 {
  color: rgba(255, 255, 255, 0.2);
}

.color-gray-0-25 {
  color: rgba(255, 255, 255, 0.25);
}

.color-gray-0-30 {
  color: rgba(255, 255, 255, 0.3);
}

.color-gray-0-40 {
  color: rgba(255, 255, 255, 0.4);
}

.color-gray-0-50 {
  color: rgba(255, 255, 255, 0.5);
}

.color-gray-0-60 {
  color: rgba(255, 255, 255, 0.6);
}

.color-gray-800-90 {
  color: rgba(84, 84, 84, 0.9);
}

.color-gray-1000-0 {
  color: rgba(0, 0, 0, 0);
}

.color-gray-1000-5 {
  color: rgba(0, 0, 0, 0.05);
}

.color-gray-1000-10 {
  color: rgba(0, 0, 0, 0.1);
}

.color-gray-1000-12 {
  color: rgba(0, 0, 0, 0.12);
}

.color-gray-1000-14 {
  color: rgba(0, 0, 0, 0.14);
}

.color-gray-1000-15 {
  color: rgba(0, 0, 0, 0.15);
}

.color-gray-1000-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-gray-1000-25 {
  color: rgba(0, 0, 0, 0.25);
}

.color-gray-1000-30 {
  color: rgba(0, 0, 0, 0.3);
}

.color-gray-1000-40 {
  color: rgba(0, 0, 0, 0.4);
}

.color-gray-1000-50 {
  color: rgba(0, 0, 0, 0.5);
}

.color-gray-1000-60 {
  color: rgba(0, 0, 0, 0.6);
}

.color-grayBlue-200 {
  color: #ced4da;
}

.color-grayBlue-300 {
  color: #c3ccdd;
}

.color-grayBlue-400 {
  color: #a2b0cb;
}

.color-grayBlue-500 {
  color: #8988a7;
}

.color-grayBlue-700 {
  color: #3e3151;
}

.color-grayBlue-800 {
  color: #1f2f3c;
}

.color-grayBlue-850 {
  color: #322741;
}

.color-grayBlue-900 {
  color: #16222b;
}

.color-grayBlue-950 {
  color: #131d24;
}

.color-grayBlue-850-12 {
  color: rgba(50, 39, 65, 0.12);
}

.color-grayBlue-850-14 {
  color: rgba(50, 39, 65, 0.14);
}

.color-grayBlue-850-20 {
  color: rgba(50, 39, 65, 0.2);
}

.color-red-50 {
  color: #f8f4f6;
}

.color-red-100 {
  color: #ffe3e4;
}

.color-red-300 {
  color: #ff838b;
}

.color-red-400 {
  color: #ff5965;
}

.color-red-450 {
  color: #ff3a48;
}

.color-red-500 {
  color: #ff303e;
}

.color-red-600 {
  color: #e22432;
}

.color-red-700 {
  color: #cd2632;
}

.color-red-800 {
  color: #9c1d25;
}

.color-red-500-12 {
  color: rgba(255, 48, 62, 0.12);
}

.color-red-500-14 {
  color: rgba(255, 48, 62, 0.14);
}

.color-red-500-20 {
  color: rgba(255, 48, 62, 0.2);
}

.color-yellow-100 {
  color: #fff4d3;
}

.color-yellow-300 {
  color: #ffda6a;
}

.color-yellow-400 {
  color: #ffcd39;
}

.color-yellow-500 {
  color: #ffc107;
}

.color-yellow-550 {
  color: #ed8100;
}

.color-yellow-600 {
  color: #d39e00;
}

.color-yellow-700 {
  color: #997404;
}

.color-yellow-900 {
  color: #2e281a;
}

.color-green-100 {
  color: #e8f9d9;
}

.color-green-300 {
  color: #b1e980;
}

.color-green-400 {
  color: #97e255;
}

.color-green-450 {
  color: #91dd50;
}

.color-green-500 {
  color: #7ddb2b;
}

.color-green-600 {
  color: #64af22;
}

.color-green-700 {
  color: #4b831a;
}

.color-green-600-12 {
  color: rgba(100, 175, 34, 0.12);
}

.color-green-600-14 {
  color: rgba(100, 175, 34, 0.14);
}

.color-green-600-20 {
  color: rgba(100, 175, 34, 0.2);
}

.color-blue-100 {
  color: #ccefff;
}

.color-blue-500 {
  color: #00aeff;
}

.color-blue-900 {
  color: #16222b;
}

.color-bfGreen-100 {
  color: #d1f3e2;
}

.color-bfGreen-400 {
  color: #1bd87b;
}

.color-bfGreen-450 {
  color: #19ca73;
}

.color-bfGreen-500 {
  color: #18c16e;
}

.color-bfGreen-400-12 {
  color: rgba(27, 216, 123, 0.12);
}

.color-bfGreen-400-14 {
  color: rgba(27, 216, 123, 0.14);
}

.color-bfGreen-400-20 {
  color: rgba(27, 216, 123, 0.2);
}

.color-masterMerchant-100 {
  color: #f0f5fa;
}

.color-masterMerchant-200 {
  color: #e3f0fa;
}

.color-masterMerchant-300 {
  color: #a9bdcb;
}

.color-masterMerchant-400 {
  color: #008bf2;
}

.color-masterMerchant-500 {
  color: #006bbb;
}

.color-masterMerchant-800 {
  color: #353b50;
}

.color-masterMerchant-400-12 {
  color: rgba(0, 139, 242, 0.12);
}

.color-masterMerchant-400-14 {
  color: rgba(0, 139, 242, 0.14);
}

.color-masterMerchant-400-20 {
  color: rgba(0, 139, 242, 0.2);
}

.color-GASH-100 {
  color: #facce2;
}

.color-GASH-200 {
  color: #f599c5;
}

.color-GASH-300 {
  color: #ef66a8;
}

.color-GASH-400 {
  color: #ea338b;
}

.color-GASH-500 {
  color: #e5006e;
}

.color-GASH-550 {
  color: #c0105f;
}

.color-GASH-800 {
  color: #b70058;
}

.color-GASH-500-12 {
  color: rgba(229, 0, 110, 0.12);
}

.color-GASH-500-14 {
  color: rgba(229, 0, 110, 0.14);
}

.color-GASH-500-20 {
  color: rgba(229, 0, 110, 0.2);
}

.color-Contrast {
  color: #e5006e;
}

.color-Text-AAAA {
  color: #494949;
}

.color-Text-AAA {
  color: #545454;
}

.color-Text-AA {
  color: #727171;
}

.color-Text-A {
  color: #919191;
}

.color-LabelColor {
  color: #8988a7;
}

.color-Placeholder {
  color: #a2a2a2;
}

.color-Primary {
  color: #e5006e;
}

.color-LightPrimary {
  color: #facce2;
}

.color-Primary-12 {
  color: rgba(229, 0, 110, 0.12);
}

.color-Primary-14 {
  color: rgba(229, 0, 110, 0.14);
}

.color-Primary-20 {
  color: rgba(229, 0, 110, 0.2);
}

.color-Primary-80 {
  color: rgba(229, 0, 110, 0.8);
}

.color-Secondary {
  color: #1f2f3c;
}

.color-DarkSecondary {
  color: #131d24;
}

.color-Secondary-12 {
  color: rgba(0, 0, 0, 0.12);
}

.color-Secondary-14 {
  color: rgba(0, 0, 0, 0.14);
}

.color-Secondary-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-Danger {
  color: #e22432;
}

.color-LightDanger {
  color: #ffe3e4;
}

.color-Danger-12 {
  color: rgba(255, 48, 62, 0.12);
}

.color-Danger-14 {
  color: rgba(255, 48, 62, 0.14);
}

.color-Danger-20 {
  color: rgba(255, 48, 62, 0.2);
}

.color-Success {
  color: #64af22;
}

.color-LightSuccess {
  color: #e8f9d9;
}

.color-Success-12 {
  color: rgba(100, 175, 34, 0.12);
}

.color-Success-14 {
  color: rgba(100, 175, 34, 0.14);
}

.color-Success-20 {
  color: rgba(100, 175, 34, 0.2);
}

.color-Warning {
  color: #ffc107;
}

.color-LightWarning {
  color: #fff4d3;
}

.color-Info {
  color: #00aeff;
}

.color-LightInfo {
  color: #ccefff;
}

.bg-gray-0 {
  background-color: #ffffff;
}

.bg-gray-30 {
  background-color: #fcfcfc;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.bg-gray-100 {
  background-color: #ededed;
}

.bg-gray-150 {
  background-color: #e2e2e2;
}

.bg-gray-200 {
  background-color: #dddddd;
}

.bg-gray-300 {
  background-color: #cccccc;
}

.bg-gray-500 {
  background-color: #a2a2a2;
}

.bg-gray-550 {
  background-color: #989898;
}

.bg-gray-600 {
  background-color: #919191;
}

.bg-gray-650 {
  background-color: #8c8c8c;
}

.bg-gray-700 {
  background-color: #727171;
}

.bg-gray-800 {
  background-color: #545454;
}

.bg-gray-850 {
  background-color: #494949;
}

.bg-gray-900 {
  background-color: #333333;
}

.bg-gray-1000 {
  background-color: #000000;
}

.bg-gray-0-0 {
  background-color: rgba(255, 255, 255, 0);
}

.bg-gray-0-12 {
  background-color: rgba(255, 255, 255, 0.12);
}

.bg-gray-0-14 {
  background-color: rgba(255, 255, 255, 0.14);
}

.bg-gray-0-15 {
  background-color: rgba(255, 255, 255, 0.15);
}

.bg-gray-0-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-gray-0-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-gray-0-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-gray-0-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-gray-0-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-gray-0-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-gray-800-90 {
  background-color: rgba(84, 84, 84, 0.9);
}

.bg-gray-1000-0 {
  background-color: rgba(0, 0, 0, 0);
}

.bg-gray-1000-5 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-gray-1000-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-gray-1000-12 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-gray-1000-14 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bg-gray-1000-15 {
  background-color: rgba(0, 0, 0, 0.15);
}

.bg-gray-1000-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-gray-1000-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-gray-1000-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-gray-1000-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-gray-1000-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-gray-1000-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-grayBlue-200 {
  background-color: #ced4da;
}

.bg-grayBlue-300 {
  background-color: #c3ccdd;
}

.bg-grayBlue-400 {
  background-color: #a2b0cb;
}

.bg-grayBlue-500 {
  background-color: #8988a7;
}

.bg-grayBlue-700 {
  background-color: #3e3151;
}

.bg-grayBlue-800 {
  background-color: #1f2f3c;
}

.bg-grayBlue-850 {
  background-color: #322741;
}

.bg-grayBlue-900 {
  background-color: #16222b;
}

.bg-grayBlue-950 {
  background-color: #131d24;
}

.bg-grayBlue-850-12 {
  background-color: rgba(50, 39, 65, 0.12);
}

.bg-grayBlue-850-14 {
  background-color: rgba(50, 39, 65, 0.14);
}

.bg-grayBlue-850-20 {
  background-color: rgba(50, 39, 65, 0.2);
}

.bg-red-50 {
  background-color: #f8f4f6;
}

.bg-red-100 {
  background-color: #ffe3e4;
}

.bg-red-300 {
  background-color: #ff838b;
}

.bg-red-400 {
  background-color: #ff5965;
}

.bg-red-450 {
  background-color: #ff3a48;
}

.bg-red-500 {
  background-color: #ff303e;
}

.bg-red-600 {
  background-color: #e22432;
}

.bg-red-700 {
  background-color: #cd2632;
}

.bg-red-800 {
  background-color: #9c1d25;
}

.bg-red-500-12 {
  background-color: rgba(255, 48, 62, 0.12);
}

.bg-red-500-14 {
  background-color: rgba(255, 48, 62, 0.14);
}

.bg-red-500-20 {
  background-color: rgba(255, 48, 62, 0.2);
}

.bg-yellow-100 {
  background-color: #fff4d3;
}

.bg-yellow-300 {
  background-color: #ffda6a;
}

.bg-yellow-400 {
  background-color: #ffcd39;
}

.bg-yellow-500 {
  background-color: #ffc107;
}

.bg-yellow-550 {
  background-color: #ed8100;
}

.bg-yellow-600 {
  background-color: #d39e00;
}

.bg-yellow-700 {
  background-color: #997404;
}

.bg-yellow-900 {
  background-color: #2e281a;
}

.bg-green-100 {
  background-color: #e8f9d9;
}

.bg-green-300 {
  background-color: #b1e980;
}

.bg-green-400 {
  background-color: #97e255;
}

.bg-green-450 {
  background-color: #91dd50;
}

.bg-green-500 {
  background-color: #7ddb2b;
}

.bg-green-600 {
  background-color: #64af22;
}

.bg-green-700 {
  background-color: #4b831a;
}

.bg-green-600-12 {
  background-color: rgba(100, 175, 34, 0.12);
}

.bg-green-600-14 {
  background-color: rgba(100, 175, 34, 0.14);
}

.bg-green-600-20 {
  background-color: rgba(100, 175, 34, 0.2);
}

.bg-blue-100 {
  background-color: #ccefff;
}

.bg-blue-500 {
  background-color: #00aeff;
}

.bg-blue-900 {
  background-color: #16222b;
}

.bg-bfGreen-100 {
  background-color: #d1f3e2;
}

.bg-bfGreen-400 {
  background-color: #1bd87b;
}

.bg-bfGreen-450 {
  background-color: #19ca73;
}

.bg-bfGreen-500 {
  background-color: #18c16e;
}

.bg-bfGreen-400-12 {
  background-color: rgba(27, 216, 123, 0.12);
}

.bg-bfGreen-400-14 {
  background-color: rgba(27, 216, 123, 0.14);
}

.bg-bfGreen-400-20 {
  background-color: rgba(27, 216, 123, 0.2);
}

.bg-masterMerchant-100 {
  background-color: #f0f5fa;
}

.bg-masterMerchant-200 {
  background-color: #e3f0fa;
}

.bg-masterMerchant-300 {
  background-color: #a9bdcb;
}

.bg-masterMerchant-400 {
  background-color: #008bf2;
}

.bg-masterMerchant-500 {
  background-color: #006bbb;
}

.bg-masterMerchant-800 {
  background-color: #353b50;
}

.bg-masterMerchant-400-12 {
  background-color: rgba(0, 139, 242, 0.12);
}

.bg-masterMerchant-400-14 {
  background-color: rgba(0, 139, 242, 0.14);
}

.bg-masterMerchant-400-20 {
  background-color: rgba(0, 139, 242, 0.2);
}

.bg-GASH-100 {
  background-color: #facce2;
}

.bg-GASH-200 {
  background-color: #f599c5;
}

.bg-GASH-300 {
  background-color: #ef66a8;
}

.bg-GASH-400 {
  background-color: #ea338b;
}

.bg-GASH-500 {
  background-color: #e5006e;
}

.bg-GASH-550 {
  background-color: #c0105f;
}

.bg-GASH-800 {
  background-color: #b70058;
}

.bg-GASH-500-12 {
  background-color: rgba(229, 0, 110, 0.12);
}

.bg-GASH-500-14 {
  background-color: rgba(229, 0, 110, 0.14);
}

.bg-GASH-500-20 {
  background-color: rgba(229, 0, 110, 0.2);
}

.bg-Contrast {
  background-color: #e5006e;
}

.bg-Text-AAAA {
  background-color: #494949;
}

.bg-Text-AAA {
  background-color: #545454;
}

.bg-Text-AA {
  background-color: #727171;
}

.bg-Text-A {
  background-color: #919191;
}

.bg-LabelColor {
  background-color: #8988a7;
}

.bg-Placeholder {
  background-color: #a2a2a2;
}

.bg-Primary {
  background-color: #e5006e;
}

.bg-LightPrimary {
  background-color: #facce2;
}

.bg-Primary-12 {
  background-color: rgba(229, 0, 110, 0.12);
}

.bg-Primary-14 {
  background-color: rgba(229, 0, 110, 0.14);
}

.bg-Primary-20 {
  background-color: rgba(229, 0, 110, 0.2);
}

.bg-Primary-80 {
  background-color: rgba(229, 0, 110, 0.8);
}

.bg-Secondary {
  background-color: #1f2f3c;
}

.bg-DarkSecondary {
  background-color: #131d24;
}

.bg-Secondary-12 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-Secondary-14 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bg-Secondary-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-Danger {
  background-color: #e22432;
}

.bg-LightDanger {
  background-color: #ffe3e4;
}

.bg-Danger-12 {
  background-color: rgba(255, 48, 62, 0.12);
}

.bg-Danger-14 {
  background-color: rgba(255, 48, 62, 0.14);
}

.bg-Danger-20 {
  background-color: rgba(255, 48, 62, 0.2);
}

.bg-Success {
  background-color: #64af22;
}

.bg-LightSuccess {
  background-color: #e8f9d9;
}

.bg-Success-12 {
  background-color: rgba(100, 175, 34, 0.12);
}

.bg-Success-14 {
  background-color: rgba(100, 175, 34, 0.14);
}

.bg-Success-20 {
  background-color: rgba(100, 175, 34, 0.2);
}

.bg-Warning {
  background-color: #ffc107;
}

.bg-LightWarning {
  background-color: #fff4d3;
}

.bg-Info {
  background-color: #00aeff;
}

.bg-LightInfo {
  background-color: #ccefff;
}

:root {
  --bs-primary: #e5006e;
  --bs-primary-rgb: 229, 0, 110;
}

.table,
.datatable-table {
  --bs-table-striped-bg: #f9f9f9;
}

.page-link,
.datatable-pagination a {
  --bs-pagination-color: #131d24;
}
.page-link:hover,
.datatable-pagination a:hover {
  --bs-pagination-hover-color: #131d24;
}

.table-primary {
  --bs-table-color: #ffffff;
  --bs-table-bg: #cfe2ff;
  --bs-table-border-color: #bacbe6;
  --bs-table-striped-bg: #c5d7f2;
  --bs-table-striped-color: #ffffff;
  --bs-table-active-bg: #bacbe6;
  --bs-table-active-color: #ffffff;
  --bs-table-hover-bg: #bfd1ec;
  --bs-table-hover-color: #ffffff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.alert-primary {
  --bs-alert-color: #2c1a4d;
  --bs-alert-bg: #cfe2ff;
  --bs-alert-border-color: #b6d4fe;
}
.alert-primary .alert-link {
  color: #06357a;
}

.list-group-item-primary {
  color: #2c1a4d;
  background-color: #cfe2ff;
}
.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #2c1a4d;
  background-color: #bacbe6;
}
.list-group-item-primary.list-group-item-action.active {
  color: #ffffff;
  background-color: #2c1a4d;
  border-color: #2c1a4d;
}

.text-bg-primary {
  color: #ffffff !important;
  background-color: RGBA(107, 10, 229, var(--bs-bg-opacity, 1)) !important;
}

.link-primary {
  color: #e5006e !important;
}
.link-primary:hover, .link-primary:focus {
  color: !important;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}

/* rtl:end:remove */
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}