.login-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/loginImage.jpg");
  background-size: cover;
  background-position: center;

  img {
    position: absolute;
    top: px(20);
    right: px(20);
    width: px(160);
  }

  @include max-to(mobile) {
    display: none;
  }
}
