// 色彩定義
$colors: ();

@function color($key) {
  @return map-get($colors, $key);
}

// 灰階
$colors: map-merge(
  $colors,
  (
    gray-0: #ffffff,
    gray-30: #fcfcfc,
    gray-50: #f9f9f9,
    gray-100: #ededed,
    gray-150: #e2e2e2,
    gray-200: #dddddd,
    gray-300: #cccccc,
    gray-500: #a2a2a2,
    gray-550: #989898,
    gray-600: #919191,
    gray-650: #8c8c8c,
    gray-700: #727171,
    gray-800: #545454,
    gray-850: #494949,
    gray-900: #333333,
    gray-1000: #000000,
  )
);
// 灰階 透明度
$colors: map-merge(
  $colors,
  (
    gray-0-0: rgba(color(gray-0), 0),
    gray-0-12: rgba(color(gray-0), 0.12),
    gray-0-14: rgba(color(gray-0), 0.14),
    gray-0-20: rgba(color(gray-0), 0.2),
    gray-800-90: rgba(color(gray-800), 0.9),
    gray-1000-0: rgba(color(gray-1000), 0),
    gray-1000-5: rgba(color(gray-1000), 0.05),
    gray-1000-12: rgba(color(gray-1000), 0.12),
    gray-1000-14: rgba(color(gray-1000), 0.14),
    gray-1000-20: rgba(color(gray-1000), 0.2),
  )
);

// 灰藍
$colors: map-merge(
  $colors,
  (
    grayBlue-200: #ced4da,
    grayBlue-300: #c3ccdd,
    grayBlue-400: #a2b0cb,
    grayBlue-500: #8988a7,
    grayBlue-700: #3e3151,
    grayBlue-800: #1f2f3c,
    grayBlue-850: #322741,
    grayBlue-900: #16222b,
    grayBlue-950: #131d24,
  )
);
// 灰藍 透明度
$colors: map-merge(
  $colors,
  (
    grayBlue-850-12: rgba(color(grayBlue-850), 0.12),
    grayBlue-850-14: rgba(color(grayBlue-850), 0.14),
    grayBlue-850-20: rgba(color(grayBlue-850), 0.2),
    grayBlue-950-80: rgba(color(grayBlue-950), 0.8),
  )
);

// 紅
$colors: map-merge(
  $colors,
  (
    red-50: #f7dfe0,
    red-100: #fbe4e5,
    red-200: #e39ba0,
    red-300: #d56d74,
    red-400: #c84049,
    red-500: #ba121e,
    red-600: #950e18,
    red-700: #700b12,
    red-800: #4a070c,
  )
);
// 紅 透明度
$colors: map-merge(
  $colors,
  (
    red-500-12: rgba(color(red-500), 0.12),
    red-500-14: rgba(color(red-500), 0.14),
    red-500-20: rgba(color(red-500), 0.2),
  )
);

// 黃
$colors: map-merge(
  $colors,
  (
    yellow-100: #f6ebca,
    yellow-300: #ffda6a,
    yellow-400: #ffcd39,
    yellow-500: #e6ac00,
    yellow-600: #b28606,
    yellow-700: #7f5f00,
    yellow-900: #2a2000,
  )
);

// 綠
$colors: map-merge(
  $colors,
  (
    green-100: #e0f5cd,
    green-200: #b0cf94,
    green-300: #91bb6d,
    green-400: #73a647,
    green-500: #559220,
    green-600: #44751a,
    green-700: #335813,
  )
);
// 綠 透明度
$colors: map-merge(
  $colors,
  (
    green-600-12: rgba(color(green-600), 0.12),
    green-600-14: rgba(color(green-600), 0.14),
    green-600-20: rgba(color(green-600), 0.2),
  )
);

// 藍
$colors: map-merge(
  $colors,
  (
    blue-100: #ccefff,
    blue-500: #00aeff,
    blue-900: #16222b,
  )
);

// Master Merchant
$colors: map-merge(
  $colors,
  (
    masterMerchant-100: #f0f5fa,
    masterMerchant-200: #e3f0fa,
    masterMerchant-300: #a9bdcb,
    masterMerchant-400: #008bf2,
    masterMerchant-500: #006bbb,
    masterMerchant-800: #353b50,
  )
);
// Master Merchant 透明度
$colors: map-merge(
  $colors,
  (
    masterMerchant-400-12: rgba(color(masterMerchant-400), 0.12),
    masterMerchant-400-14: rgba(color(masterMerchant-400), 0.14),
    masterMerchant-400-20: rgba(color(masterMerchant-400), 0.2),
  )
);

// GASH
$colors: map-merge(
  $colors,
  (
    GASH-100: #facce2,
    GASH-200: #f599c5,
    GASH-300: #ef66a8,
    GASH-400: #ea338b,
    GASH-500: #e5006e,
    GASH-550: #c0105f,
    GASH-600: #b70058,
  )
);
// GASH 透明度
$colors: map-merge(
  $colors,
  (
    GASH-500-12: rgba(color(GASH-500), 0.12),
    GASH-500-14: rgba(color(GASH-500), 0.14),
    GASH-500-20: rgba(color(GASH-500), 0.2),
  )
);

// bg! Green
$colors: map-merge(
  $colors,
  (
    bfGreen-100: #d1f3e2,
    bfGreen-400: #1bd87b,
    bfGreen-450: #19ca73,
    bfGreen-500: #18c16e,
  )
);
// bg! Green 透明度
$colors: map-merge(
  $colors,
  (
    bfGreen-400-12: rgba(color(bfGreen-400), 0.12),
    bfGreen-400-14: rgba(color(bfGreen-400), 0.14),
    bfGreen-400-20: rgba(color(bfGreen-400), 0.2),
  )
);
