.sb-topnav {
  height: auto;
  color: color(gray-0);
  padding: px(8) px(16);

  > .btn-link {
    padding: 0;

    svg {
      height: px(20);
      width: px(20);
    }
  }

  .btn-link {
    min-width: auto;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: px(8);
    @include fontRWD(body2-bold);
    color: color(gray-300);
    width: auto;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: px(8);
      color: color(gray-0);
    }

    img {
      max-width: 100%;
      max-height: px(14);
    }
  }

  .navbar-nav {
    color: color(gray-300);

    .nav-item {
      height: px(40);
      padding: 0;
    }

    .nav-link {
      display: flex;
      align-items: center;
    }
  }

  .headshot {
    background-color: color(Primary);
    color: color(gray-0);
    margin-right: px(8);
    @include rounded(100);
    padding: px(8);
    font-size: px(20);
  }

  &.navbar-light {
    border: px(1) solid color(gray-150);

    .navbar-brand,
    .nav-link {
      color: color(gray-500);
    }
  }

  &.navbar-dark {
    .navbar-brand,
    .nav-link {
      color: color(gray-300);
    }
  }

  @include max-to(mobile) {
    .headshot {
      margin-right: px(4);
    }
  }
}

.sb-sidenav {
  .sb-sidenav-menu {
    .nav {
      .nav-link {
        gap: px(8);
        padding: px(8) px(24);
        @include fontRWD(body1);

        i {
          font-size: px(20);
        }

        &.collapsed {
          .sb-sidenav-collapse-arrow {
            transform: rotate(180deg);
          }
        }
      }

      .sb-sidenav-menu-nested {
        margin-left: 0;

        .nav-link {
          padding: px(8) px(24) px(8) px(52);
        }
      }
    }
  }

  &.navbar-light {
    .sb-sidenav-menu {
      .nav {
        .nav-link {
          color: color(gray-800);

          .sb-sidenav-collapse-arrow {
            color: color(gray-800);
          }

          &.active {
            background-color: color(LightPrimary);
            color: color(Primary);
          }
        }
      }
    }
  }

  &.navbar-dark {
    .sb-sidenav-menu {
      .nav {
        .nav-link {
          color: color(grayBlue-300);

          .sb-sidenav-collapse-arrow {
            color: color(grayBlue-300);
          }

          &.active {
            background-color: color(Primary);
            color: color(gray-0);
          }
        }
      }

      .sb-sidenav-menu-nested {
        .nav-link {
          background-color: rgba(color(gray-0), 0.03);
          box-shadow: 0 px(-1) 0 0 rgba(color(gray-1000), 0.25);
        }
      }
    }
  }
}

.header-dropdown {
  .dropdown-menu {
    padding: 0;

    .dropdown-item {
      padding: 0;
      display: flex;
      flex-direction: column;
      @include rounded(0);

      &.userinfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: px(12);
        pointer-events: none;
        cursor: default;

        i {
          flex-grow: 0;
          padding: px(8);
        }
      }

      a {
        padding: px(12);
        color: color(Secondary);
        text-decoration: none;
      }

      .subtitle {
        @include fontRWD(caption);
        color: color(gray-300);
        display: block;
      }

      + .dropdown-item {
        border-top: px(1) solid color(gray-200);
      }

      @include hover {
        background-color: color(gray-0);
        color: color(Primary);

        a {
          color: color(Primary);
        }
      }

      &.read {
        background-color: color(gray-50);

        a {
          color: color(gray-300) !important;
        }
      }
    }
  }

  @include max-to(mobile) {
    .dropdown-menu {
      .dropdown-item {
        &.userinfo {
          .headshot {
            margin-right: px(8);
          }
        }
      }
    }
  }
}
