.breadcrumb {
  margin-bottom: px(16);
}

.breadcrumb-item {
  color: color(gray-500) !important;
  @include fontRWD(caption);
  padding-right: px(2);
  padding-left: px(0) !important;
  display: flex;
  align-items: center;
  gap: px(2);

  &::before {
    display: none;
  }

  &::after {
    content: "\e5cc";
    font-family: "Material Symbols Rounded";
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}
