.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: px(4);
  padding: px(7) px(15);
  @include rounded(12);
  min-width: px(100);
  word-break: keep-all;
  color: color(gray-700);
  background-color: color(gray-0);
  border: px(1) solid color(gray-100);

  i {
    font-size: px(20);
  }

  @include hover {
    color: color(gray-700);
    background-color: color(gray-30);
    border-color: color(gray-100);
  }

  &:disabled,
  &.btn-disabled {
    color: color(gray-0) !important;
    background-color: color(gray-150) !important;
    border: px(1) solid color(gray-150) !important;
    pointer-events: none;
  }

  // Size
  &.btn-xs {
    padding: px(4) px(8);
    @include rounded(8);
    @include fontRWD(caption);
  }
  &.btn-lg {
    padding: px(12) px(16);
    @include fontRWD(body1);
  }

  // Type
  &.btn-link {
    background-color: transparent;
    border-color: transparent;
  }
  &.btn-outline {
    color: color(gray-700);
    background-color: transparent;
    border-color: color(gray-700);

    @include hover {
      color: color(gray-700);
      background-color: color(gray-100);
    }
  }
  &.btn-flat {
    color: color(gray-700);
    background-color: transparent;
    border-color: transparent !important;

    @include hover {
      color: color(gray-700);
      background-color: color(gray-100);
    }
  }

  // Primary
  &.btn-primary {
    color: color(gray-0);
    background-color: color(Primary);
    border: px(1) solid color(Primary);

    @include hover {
      background-color: color(DarkPrimary);
      border: px(1) solid color(DarkPrimary);
    }
  }
  &.btn-primary-outline {
    color: color(Primary);
    background-color: transparent;
    border-color: color(Primary);

    @include hover {
      color: color(Primary);
      background-color: color(LightPrimary);
    }
  }
  &.btn-primary-flat {
    color: color(Primary);
    background-color: transparent;
    border-color: transparent !important;

    @include hover {
      color: color(Primary);
      background-color: color(LightPrimary);
    }
  }
  &.btn-primary-light {
    color: color(Primary);
    background-color: color(gray-0);
    border-color: transparent !important;

    @include hover {
      opacity: 0.8;
    }
  }
  &.btn-primary-light-outline {
    color: color(gray-0);
    background-color: transparent;
    border-color: color(gray-0);

    @include hover {
      background-color: color(gray-0-12);
    }
  }
  &.btn-primary-light-flat {
    color: color(gray-0);
    background-color: transparent;
    border-color: transparent;

    @include hover {
      background-color: color(gray-0-12);
    }
  }

  // Secondary
  &.btn-secondary {
    color: color(gray-0);
    background-color: color(Secondary);
    border: px(1) solid color(Secondary);

    @include hover {
      background-color: color(DarkSecondary);
      border: px(1) solid color(DarkSecondary);
    }
  }
  &.btn-secondary-outline {
    color: color(Secondary);
    background-color: transparent;
    border-color: color(Secondary);

    @include hover {
      color: color(DarkSecondary);
      border-color: color(DarkSecondary);
    }
  }
  &.btn-secondary-flat {
    color: color(Secondary);
    background-color: transparent;
    border-color: transparent !important;

    @include hover {
      color: color(DarkSecondary);
      background-color: color(gray-100);
    }
  }
  &.btn-secondary-light {
    color: color(Secondary);
    background-color: color(gray-0);
    border-color: transparent !important;

    @include hover {
      color: color(DarkSecondary);
    }
  }
  &.btn-secondary-light-outline {
    color: color(gray-0);
    background-color: transparent;
    border-color: color(gray-0);

    @include hover {
      background-color: color(gray-0-12);
    }
  }
  &.btn-secondary-light-flat {
    color: color(gray-0);
    background-color: transparent;
    border-color: transparent;

    @include hover {
      background-color: color(gray-0-12);
    }
  }

  // Danger
  &.btn-danger {
    color: color(gray-0);
    background-color: color(Danger);
    border: px(1) solid color(Danger);
  }
}
