$Primary: color(Primary);
$LightPrimary: color(LightPrimary);
$DarkPrimary: color(DarkPrimary);
$Primary-80: color(Primary-80);
$Secondary: color(Secondary);
$DarkSecondary: color(DarkSecondary);
$gray-0: color(gray-0);
$gray-30: color(gray-30);
$gray-50: color(gray-50);
$gray-100: color(gray-100);
$gray-150: color(gray-150);
$gray-700: color(gray-700);
$gray-1000: color(gray-1000);

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: px(4);
  padding: px(7) px(15);
  @include rounded(8);
  min-width: fit-content;
  word-break: keep-all;
  color: color(gray-700);
  background-color: color(gray-0);
  border: px(1) solid color(gray-100);

  i {
    font-size: px(20);
  }

  @include hover {
    color: color(gray-700);
    background-color: color(gray-30);
    border-color: transparent;
  }

  &:disabled {
    color: color(gray-0) !important;
    background-color: color(gray-150) !important;
    border: px(1) solid color(gray-150) !important;
  }

  // Size
  &.btn-xs {
    padding: px(4) px(8);
    @include rounded(6);
    @include fontRWD(caption);
  }
  &.btn-lg {
    padding: px(12) px(16);
    @include rounded(8);
    @include fontRWD(body1);
  }

  // Type
  &.btn-link {
    background-color: transparent;
    border-color: transparent;
  }
  &.btn-outline {
    color: color(gray-700);
    background-color: transparent;
    border-color: color(gray-700);

    @include hover {
      color: color(gray-700);
      background-color: color(gray-100);
    }
  }
  &.btn-flat {
    color: color(gray-700);
    background-color: transparent;
    border-color: transparent !important;

    @include hover {
      color: color(gray-700);
      background-color: color(gray-100);
    }
  }

  // Primary
  &.btn-primary {
    color: color(gray-0);
    background-color: color(Primary);
    border: px(1) solid color(Primary);

    @include hover {
      background-color: color(Primary-80);
      border: px(1) solid color(Primary-80);
    }
  }
  &.btn-primary-outline {
    color: color(Primary);
    background-color: transparent;
    border-color: color(Primary);

    @include hover {
      color: color(Primary);
      background-color: color(LightPrimary);
    }
  }
  &.btn-primary-flat {
    color: color(Primary);
    background-color: transparent;
    border-color: transparent !important;

    @include hover {
      color: color(Primary);
      background-color: color(LightPrimary);
    }
  }
  &.btn-primary-light {
    color: color(Primary);
    background-color: color(gray-0);
    border-color: transparent !important;

    @include hover {
      opacity: 0.8;
    }
  }
  &.btn-primary-light-outline {
    color: color(gray-0);
    background-color: transparent;
    border-color: color(gray-0);

    @include hover {
      background-color: color(gray-0-12);
    }
  }
  &.btn-primary-light-flat {
    color: color(gray-0);
    background-color: transparent;
    border-color: transparent;

    @include hover {
      background-color: color(gray-0-12);
    }
  }

  // Secondary
  &.btn-secondary {
    color: color(gray-0);
    background-color: color(Secondary);
    border: px(1) solid color(Secondary);

    @include hover {
      background-color: color(DarkSecondary);
      border: px(1) solid color(DarkSecondary);
    }
  }
  &.btn-secondary-outline {
    color: color(Secondary);
    background-color: transparent;
    border-color: color(Secondary);

    @include hover {
      color: color(DarkSecondary);
      border-color: color(DarkSecondary);
    }
  }
  &.btn-secondary-flat {
    color: color(Secondary);
    background-color: transparent;
    border-color: transparent !important;

    @include hover {
      color: color(Secondary);
      background-color: color(grayBlue-850-12);
    }
  }
  &.btn-secondary-light {
    color: color(Secondary);
    background-color: color(gray-0);
    border-color: transparent !important;

    @include hover {
      color: color(DarkSecondary);
    }
  }
  &.btn-secondary-light-outline {
    color: color(gray-0);
    background-color: transparent;
    border-color: color(gray-0);

    @include hover {
      background-color: color(gray-0-12);
    }
  }
  &.btn-secondary-light-flat {
    color: color(gray-0);
    background-color: transparent;
    border-color: transparent;

    @include hover {
      background-color: color(gray-0-12);
    }
  }

  // Danger
  &.btn-danger {
    color: color(gray-0);
    background-color: color(Danger);
    border: px(1) solid color(Danger);
  }
}
