.form-label {
  display: flex;
  align-items: center;
  gap: px(4);
  @include fontRWD(body2);
  color: color(purple-400);

  &.required {
    &::after {
      content: " *";
      color: color(Danger);
    }
  }
}

.label-with-info {
  display: flex;
  align-items: center;
  gap: px(8);

  i {
    font-size: px(16);
    line-height: 150%;
    margin-bottom: px(8);
    cursor: pointer;
  }
}

.form-control {
  height: px(40);
  border: px(1) solid color(gray-300);
  @include rounded(8);

  &:focus {
    border-color: color(gray-800);
  }

  &.error {
    border: px(1) solid color(Danger);
  }

  &::placeholder {
    color: color(gray-300);
  }

  &::-webkit-calendar-picker-indicator {
    filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%)
      contrast(90%);
  }

  &[readonly] {
    background-color: color(gray-50);
  }

  &:disabled {
    border-color: color(gray-300);
    background-color: color(gray-100);
    color: color(gray-300);
  }
}

textarea {
  &.form-control {
    min-height: px(140);
    resize: none;
  }
}

.input-icon-btn {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    right: px(16);
    transform: translate(0, -50%);
    cursor: pointer;
    color: color(gray-800);
  }
}

.helper-text {
  color: color(gray-650);
  display: block;
  margin-top: px(8);

  a {
    color: color(gray-650);
  }
}

.error-message {
  color: color(Danger);
  display: block;
  margin-top: px(4);
}

.query-btn-group {
  padding-top: px(29);

  @include max-to(tablet) {
    padding-top: 0;
    margin-bottom: px(24);
  }
}

.form-check {
  color: color(gray-800);
  margin: 0;

  &.form-check-inline {
    margin-right: px(24);

    .form-check-label {
      display: flex;
      align-items: center;
      gap: px(4);
    }

    &:last-child {
      margin-right: 0;
    }

    .form-check-input ~ .valid-feedback {
      margin-left: px(0);
    }
  }

  > * {
    cursor: pointer;
  }

  .form-check-input {
    &:focus {
      border-color: color(LightPrimary);
      box-shadow: none;
    }

    &:checked {
      background-color: color(Primary);
      border-color: color(Primary);
    }

    &.error {
      border-color: color(Danger);
    }

    &.readonly {
      opacity: 0.8 !important;

      ~ .form-check-label {
        opacity: 0.8 !important;
      }
    }

    &[disabled],
    &:disabled {
      opacity: 0.3;

      ~ .form-check-label {
        opacity: 0.3;
      }
    }

    &:indeterminate {
      background-image: url("../../images/icon_indeterminate.svg");
      background-color: color(Primary);
      border-color: color(Primary);
    }
  }
}

.input-group {
  > * {
    &:first-child {
      &.dropdown-group {
        button {
          @include rounded(8, 0, 0, 8);
        }
      }
    }

    &:last-child {
      @include rounded(0, 8, 8, 0);
    }

    // 日期類input專用設定 (因應套件日期類input會生成一個隱藏的input)
    &:nth-last-child(2) {
      &[type="date"],
      &[type="month"],
      &[type="year"] {
        border-radius: px(0) px(8) px(8) px(0) !important;
      }
    }
  }

  .input-group-text {
    padding: px(6) px(8);
  }
}
