// datatables 套件
div.dt-container {
  @include rounded(8);
  overflow: hidden;

  // .dt-layout-table {
  //   .dt-layout-cell {
  //     .dt-scroll {
  //       .dt-scroll-head {
  //         .dt-scroll-headInner {
  //           .dataTable {
  //             thead {
  //               tr {
  //                 th {
  //                 }
  //               }
  //             }
  //           }
  //         }
  //       }

  //       .dt-scroll-body {
  //         .dataTable {
  //           tbody {
  //             tr {
  //               td {
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  .dt-scroll-body {
    border: none !important;
  }

  .dt-layout-row {
    margin: 0 !important;

    &:has(.dt-layout-end) {
      background-color: color(gray-100);
      padding: px(16);
    }
  }

  .dt-length {
    select {
      margin: 0 px(12);
      background-color: color(gray-0);
      color: color(gray-550);
      @include rounded(6);
      padding: px(8) px(16);
    }
  }

  .dt-paging {
    .ellipsis {
      opacity: 0.3;

      + .dt-paging-button {
        margin-left: 0;
      }
    }

    .dt-paging-button {
      padding: px(8);
      @include rounded(4);
      background: color(gray-0);
      color: color(gray-700);
      margin-left: px(4);
      border: none !important;

      @include hover {
        background: none;
        background-color: color(gray-150);
        color: color(gray-700) !important;
      }

      &.current {
        background-color: color(DarkSecondary);
        color: color(gray-0) !important;
        pointer-events: none;
      }

      &.disabled {
        opacity: 0.3;
      }

      &:active {
        background: none;
        background-color: color(gray-150);
        color: color(gray-700) !important;
        box-shadow: none;
      }

      &.first,
      &.previous,
      &.next,
      &.last {
        color: color(gray-1000) !important;
        background-color: transparent !important;

        @include hover {
          color: color(gray-1000) !important;
        }
      }
    }
  }
}

.dataTable {
  > thead,
  > tbody {
    > tr {
      position: relative;

      > th,
      > td {
        padding: px(12);
        vertical-align: middle;
        text-align: center;
        border: none;
        word-break: keep-all;
        white-space: nowrap;

        .btn-xs {
          min-width: auto;
        }

        &.no-fix {
          position: relative !important;
          z-index: 0 !important;
          left: auto !important;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  > thead {
    color: color(gray-600);

    > tr {
      > th {
        background-color: color(gray-100);
        color: color(gray-600);
        @include fontRWD(body2);
        border: px(1) solid color(gray-300);

        .dt-column-title {
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: px(18);
          }
        }

        &[colspan="2"] {
          background-color: color(gray-150);
        }

        .dt-column-order {
          display: none;
        }

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }

        &:not(:first-child) {
          min-width: px(150);
        }
      }

      &:first-child {
        > th {
          border-top: none;
        }
      }
    }
  }

  > tbody {
    color: color(gray-700);

    > tr {
      &:nth-child(odd) {
        > td {
          background-color: color(gray-50);
        }
      }

      &:nth-child(even) {
        > td {
          background-color: color(gray-0);
        }
      }

      > td {
        border: px(1) solid color(gray-200);

        &.dt-empty {
          background: color(gray-0);
          box-shadow: none;

          div {
            min-height: px(470);
            display: flex;
            align-items: center;
            justify-content: center;
            color: color(gray-700);
          }
        }

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }
      }

      &:last-child {
        > td {
          border-bottom: none;
        }
      }
    }
  }

  .dtfc-fixed-left {
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: px(6);
      background: linear-gradient(
        to right,
        color(gray-200) 10%,
        color(gray-1000-12) 10%,
        transparent 100%
      );
    }
  }
  .dtfc-fixed-right {
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: px(6);
      background: linear-gradient(
        to left,
        color(gray-200) 10%,
        color(gray-1000-12) 10%,
        transparent 100%
      );
    }
  }
}

.table-guideline {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: px(4);
  color: color(gray-700);
  margin-bottom: px(12);
}

// 內頁表格
.innertable-container {
  overflow-x: auto;
  margin-top: px(4);
  border-radius: px(8);
  overflow: hidden;
  border: px(1) solid color(gray-150);

  .inner-table {
    width: 100%;
    color: color(gray-700);

    thead {
      background-color: color(gray-50);

      tr {
        th {
          white-space: nowrap;
          @include fontRWD(body1);
        }

        &:first-child {
          th {
            border-top: none;
          }
        }
      }
    }

    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
    }

    thead,
    tbody {
      tr {
        th,
        td {
          border: px(1) solid color(gray-150);
          text-align: center;
          padding: px(12);

          &:first-child {
            border-left: none;
          }

          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}
