.custom-tooltip {
  background-color: color(gray-800);
  color: color(gray-0);
  opacity: 0.9;

  ul {
    padding: px(8) px(16);
    list-style-type: disc;
    text-align: left;
    @include fontRWD(body2);
    padding-left: px(24);

    li {
      padding: 0;
    }
  }
}
