.custom-tooltip {
  color: color(gray-0);
  opacity: 0.9;

  .tooltip-inner {
    background-color: color(gray-800);
    padding: px(8) px(16);
    list-style-type: disc;
    text-align: left;
    @include fontRWD(body2);
    padding-left: px(24);

    li {
      padding: 0;
      background-color: color(gray-800);
    }
  }

  .tooltip-arrow {
    &::before {
      border-right-color: color(gray-800) !important;
    }
  }
}
