.custom-tooltip {
  color: color(gray-0);
  opacity: 0.9;

  .tooltip-inner {
    background-color: color(gray-800);
    padding: px(8) px(16);
    text-align: left;
    max-width: px(240);
    color: color(gray-150);
    @include rounded(8);

    li {
      padding: 0;
      margin-left: px(24);
      list-style-type: disc;
      @include fontRWD(body2);
    }
  }

  .tooltip-arrow {
    &::before {
      border-right-color: color(gray-800) !important;
      border-left-color: color(gray-800) !important;
    }
  }
}
