body {
  background-color: color(gray-50);
}

.color-gray-0 {
  color: #ffffff;
}

.color-gray-30 {
  color: #fcfcfc;
}

.color-gray-50 {
  color: #f9f9f9;
}

.color-gray-100 {
  color: #ededed;
}

.color-gray-150 {
  color: #e2e2e2;
}

.color-gray-200 {
  color: #dddddd;
}

.color-gray-300 {
  color: #cccccc;
}

.color-gray-500 {
  color: #a2a2a2;
}

.color-gray-550 {
  color: #989898;
}

.color-gray-600 {
  color: #919191;
}

.color-gray-650 {
  color: #8c8c8c;
}

.color-gray-700 {
  color: #727171;
}

.color-gray-800 {
  color: #545454;
}

.color-gray-850 {
  color: #494949;
}

.color-gray-900 {
  color: #333333;
}

.color-gray-1000 {
  color: #000000;
}

.color-gray-0-0 {
  color: rgba(255, 255, 255, 0);
}

.color-gray-0-12 {
  color: rgba(255, 255, 255, 0.12);
}

.color-gray-0-14 {
  color: rgba(255, 255, 255, 0.14);
}

.color-gray-0-15 {
  color: rgba(255, 255, 255, 0.15);
}

.color-gray-0-20 {
  color: rgba(255, 255, 255, 0.2);
}

.color-gray-0-25 {
  color: rgba(255, 255, 255, 0.25);
}

.color-gray-0-30 {
  color: rgba(255, 255, 255, 0.3);
}

.color-gray-0-40 {
  color: rgba(255, 255, 255, 0.4);
}

.color-gray-0-50 {
  color: rgba(255, 255, 255, 0.5);
}

.color-gray-0-60 {
  color: rgba(255, 255, 255, 0.6);
}

.color-gray-800-90 {
  color: rgba(84, 84, 84, 0.9);
}

.color-gray-1000-0 {
  color: rgba(0, 0, 0, 0);
}

.color-gray-1000-5 {
  color: rgba(0, 0, 0, 0.05);
}

.color-gray-1000-10 {
  color: rgba(0, 0, 0, 0.1);
}

.color-gray-1000-12 {
  color: rgba(0, 0, 0, 0.12);
}

.color-gray-1000-14 {
  color: rgba(0, 0, 0, 0.14);
}

.color-gray-1000-15 {
  color: rgba(0, 0, 0, 0.15);
}

.color-gray-1000-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-gray-1000-25 {
  color: rgba(0, 0, 0, 0.25);
}

.color-gray-1000-30 {
  color: rgba(0, 0, 0, 0.3);
}

.color-gray-1000-40 {
  color: rgba(0, 0, 0, 0.4);
}

.color-gray-1000-50 {
  color: rgba(0, 0, 0, 0.5);
}

.color-gray-1000-60 {
  color: rgba(0, 0, 0, 0.6);
}

.color-grayBlue-200 {
  color: #ced4da;
}

.color-grayBlue-300 {
  color: #c3ccdd;
}

.color-grayBlue-400 {
  color: #a2b0cb;
}

.color-grayBlue-500 {
  color: #8988a7;
}

.color-grayBlue-700 {
  color: #3e3151;
}

.color-grayBlue-800 {
  color: #1f2f3c;
}

.color-grayBlue-850 {
  color: #322741;
}

.color-grayBlue-900 {
  color: #16222b;
}

.color-grayBlue-950 {
  color: #131d24;
}

.color-grayBlue-850-12 {
  color: rgba(50, 39, 65, 0.12);
}

.color-grayBlue-850-14 {
  color: rgba(50, 39, 65, 0.14);
}

.color-grayBlue-850-20 {
  color: rgba(50, 39, 65, 0.2);
}

.color-red-50 {
  color: #f8f4f6;
}

.color-red-100 {
  color: #ffe3e4;
}

.color-red-300 {
  color: #ff838b;
}

.color-red-400 {
  color: #ff5965;
}

.color-red-450 {
  color: #ff3a48;
}

.color-red-500 {
  color: #ff303e;
}

.color-red-600 {
  color: #e22432;
}

.color-red-700 {
  color: #cd2632;
}

.color-red-800 {
  color: #9c1d25;
}

.color-red-500-12 {
  color: rgba(255, 48, 62, 0.12);
}

.color-red-500-14 {
  color: rgba(255, 48, 62, 0.14);
}

.color-red-500-20 {
  color: rgba(255, 48, 62, 0.2);
}

.color-yellow-100 {
  color: #fff4d3;
}

.color-yellow-300 {
  color: #ffda6a;
}

.color-yellow-400 {
  color: #ffcd39;
}

.color-yellow-500 {
  color: #ffc107;
}

.color-yellow-550 {
  color: #ed8100;
}

.color-yellow-600 {
  color: #d39e00;
}

.color-yellow-700 {
  color: #997404;
}

.color-yellow-900 {
  color: #2e281a;
}

.color-green-100 {
  color: #e8f9d9;
}

.color-green-300 {
  color: #b1e980;
}

.color-green-400 {
  color: #97e255;
}

.color-green-450 {
  color: #91dd50;
}

.color-green-500 {
  color: #7ddb2b;
}

.color-green-600 {
  color: #64af22;
}

.color-green-700 {
  color: #4b831a;
}

.color-green-600-12 {
  color: rgba(100, 175, 34, 0.12);
}

.color-green-600-14 {
  color: rgba(100, 175, 34, 0.14);
}

.color-green-600-20 {
  color: rgba(100, 175, 34, 0.2);
}

.color-blue-100 {
  color: #ccefff;
}

.color-blue-500 {
  color: #00aeff;
}

.color-blue-900 {
  color: #16222b;
}

.color-bfGreen-100 {
  color: #d1f3e2;
}

.color-bfGreen-400 {
  color: #1bd87b;
}

.color-bfGreen-450 {
  color: #19ca73;
}

.color-bfGreen-500 {
  color: #18c16e;
}

.color-bfGreen-400-12 {
  color: rgba(27, 216, 123, 0.12);
}

.color-bfGreen-400-14 {
  color: rgba(27, 216, 123, 0.14);
}

.color-bfGreen-400-20 {
  color: rgba(27, 216, 123, 0.2);
}

.color-masterMerchant-100 {
  color: #f0f5fa;
}

.color-masterMerchant-200 {
  color: #e3f0fa;
}

.color-masterMerchant-300 {
  color: #a9bdcb;
}

.color-masterMerchant-400 {
  color: #008bf2;
}

.color-masterMerchant-500 {
  color: #006bbb;
}

.color-masterMerchant-800 {
  color: #353b50;
}

.color-masterMerchant-400-12 {
  color: rgba(0, 139, 242, 0.12);
}

.color-masterMerchant-400-14 {
  color: rgba(0, 139, 242, 0.14);
}

.color-masterMerchant-400-20 {
  color: rgba(0, 139, 242, 0.2);
}

.color-GASH-100 {
  color: #facce2;
}

.color-GASH-200 {
  color: #f599c5;
}

.color-GASH-300 {
  color: #ef66a8;
}

.color-GASH-400 {
  color: #ea338b;
}

.color-GASH-500 {
  color: #e5006e;
}

.color-GASH-550 {
  color: #c0105f;
}

.color-GASH-800 {
  color: #b70058;
}

.color-GASH-500-12 {
  color: rgba(229, 0, 110, 0.12);
}

.color-GASH-500-14 {
  color: rgba(229, 0, 110, 0.14);
}

.color-GASH-500-20 {
  color: rgba(229, 0, 110, 0.2);
}

.color-Contrast {
  color: #e5006e;
}

.color-Text-AAAA {
  color: #494949;
}

.color-Text-AAA {
  color: #545454;
}

.color-Text-AA {
  color: #727171;
}

.color-Text-A {
  color: #919191;
}

.color-LabelColor {
  color: #8988a7;
}

.color-Placeholder {
  color: #a2a2a2;
}

.color-Primary {
  color: #e5006e;
}

.color-LightPrimary {
  color: #facce2;
}

.color-Primary-12 {
  color: rgba(229, 0, 110, 0.12);
}

.color-Primary-14 {
  color: rgba(229, 0, 110, 0.14);
}

.color-Primary-20 {
  color: rgba(229, 0, 110, 0.2);
}

.color-Primary-80 {
  color: rgba(229, 0, 110, 0.8);
}

.color-Secondary {
  color: #1f2f3c;
}

.color-DarkSecondary {
  color: #131d24;
}

.color-Secondary-12 {
  color: rgba(0, 0, 0, 0.12);
}

.color-Secondary-14 {
  color: rgba(0, 0, 0, 0.14);
}

.color-Secondary-20 {
  color: rgba(0, 0, 0, 0.2);
}

.color-Danger {
  color: #e22432;
}

.color-LightDanger {
  color: #ffe3e4;
}

.color-Danger-12 {
  color: rgba(255, 48, 62, 0.12);
}

.color-Danger-14 {
  color: rgba(255, 48, 62, 0.14);
}

.color-Danger-20 {
  color: rgba(255, 48, 62, 0.2);
}

.color-Success {
  color: #64af22;
}

.color-LightSuccess {
  color: #e8f9d9;
}

.color-Success-12 {
  color: rgba(100, 175, 34, 0.12);
}

.color-Success-14 {
  color: rgba(100, 175, 34, 0.14);
}

.color-Success-20 {
  color: rgba(100, 175, 34, 0.2);
}

.color-Warning {
  color: #ffc107;
}

.color-LightWarning {
  color: #fff4d3;
}

.color-Info {
  color: #00aeff;
}

.color-LightInfo {
  color: #ccefff;
}

.bg-gray-0 {
  background-color: #ffffff;
}

.bg-gray-30 {
  background-color: #fcfcfc;
}

.bg-gray-50 {
  background-color: #f9f9f9;
}

.bg-gray-100 {
  background-color: #ededed;
}

.bg-gray-150 {
  background-color: #e2e2e2;
}

.bg-gray-200 {
  background-color: #dddddd;
}

.bg-gray-300 {
  background-color: #cccccc;
}

.bg-gray-500 {
  background-color: #a2a2a2;
}

.bg-gray-550 {
  background-color: #989898;
}

.bg-gray-600 {
  background-color: #919191;
}

.bg-gray-650 {
  background-color: #8c8c8c;
}

.bg-gray-700 {
  background-color: #727171;
}

.bg-gray-800 {
  background-color: #545454;
}

.bg-gray-850 {
  background-color: #494949;
}

.bg-gray-900 {
  background-color: #333333;
}

.bg-gray-1000 {
  background-color: #000000;
}

.bg-gray-0-0 {
  background-color: rgba(255, 255, 255, 0);
}

.bg-gray-0-12 {
  background-color: rgba(255, 255, 255, 0.12);
}

.bg-gray-0-14 {
  background-color: rgba(255, 255, 255, 0.14);
}

.bg-gray-0-15 {
  background-color: rgba(255, 255, 255, 0.15);
}

.bg-gray-0-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-gray-0-25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-gray-0-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-gray-0-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-gray-0-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-gray-0-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-gray-800-90 {
  background-color: rgba(84, 84, 84, 0.9);
}

.bg-gray-1000-0 {
  background-color: rgba(0, 0, 0, 0);
}

.bg-gray-1000-5 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bg-gray-1000-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-gray-1000-12 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-gray-1000-14 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bg-gray-1000-15 {
  background-color: rgba(0, 0, 0, 0.15);
}

.bg-gray-1000-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-gray-1000-25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-gray-1000-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-gray-1000-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-gray-1000-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-gray-1000-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-grayBlue-200 {
  background-color: #ced4da;
}

.bg-grayBlue-300 {
  background-color: #c3ccdd;
}

.bg-grayBlue-400 {
  background-color: #a2b0cb;
}

.bg-grayBlue-500 {
  background-color: #8988a7;
}

.bg-grayBlue-700 {
  background-color: #3e3151;
}

.bg-grayBlue-800 {
  background-color: #1f2f3c;
}

.bg-grayBlue-850 {
  background-color: #322741;
}

.bg-grayBlue-900 {
  background-color: #16222b;
}

.bg-grayBlue-950 {
  background-color: #131d24;
}

.bg-grayBlue-850-12 {
  background-color: rgba(50, 39, 65, 0.12);
}

.bg-grayBlue-850-14 {
  background-color: rgba(50, 39, 65, 0.14);
}

.bg-grayBlue-850-20 {
  background-color: rgba(50, 39, 65, 0.2);
}

.bg-red-50 {
  background-color: #f8f4f6;
}

.bg-red-100 {
  background-color: #ffe3e4;
}

.bg-red-300 {
  background-color: #ff838b;
}

.bg-red-400 {
  background-color: #ff5965;
}

.bg-red-450 {
  background-color: #ff3a48;
}

.bg-red-500 {
  background-color: #ff303e;
}

.bg-red-600 {
  background-color: #e22432;
}

.bg-red-700 {
  background-color: #cd2632;
}

.bg-red-800 {
  background-color: #9c1d25;
}

.bg-red-500-12 {
  background-color: rgba(255, 48, 62, 0.12);
}

.bg-red-500-14 {
  background-color: rgba(255, 48, 62, 0.14);
}

.bg-red-500-20 {
  background-color: rgba(255, 48, 62, 0.2);
}

.bg-yellow-100 {
  background-color: #fff4d3;
}

.bg-yellow-300 {
  background-color: #ffda6a;
}

.bg-yellow-400 {
  background-color: #ffcd39;
}

.bg-yellow-500 {
  background-color: #ffc107;
}

.bg-yellow-550 {
  background-color: #ed8100;
}

.bg-yellow-600 {
  background-color: #d39e00;
}

.bg-yellow-700 {
  background-color: #997404;
}

.bg-yellow-900 {
  background-color: #2e281a;
}

.bg-green-100 {
  background-color: #e8f9d9;
}

.bg-green-300 {
  background-color: #b1e980;
}

.bg-green-400 {
  background-color: #97e255;
}

.bg-green-450 {
  background-color: #91dd50;
}

.bg-green-500 {
  background-color: #7ddb2b;
}

.bg-green-600 {
  background-color: #64af22;
}

.bg-green-700 {
  background-color: #4b831a;
}

.bg-green-600-12 {
  background-color: rgba(100, 175, 34, 0.12);
}

.bg-green-600-14 {
  background-color: rgba(100, 175, 34, 0.14);
}

.bg-green-600-20 {
  background-color: rgba(100, 175, 34, 0.2);
}

.bg-blue-100 {
  background-color: #ccefff;
}

.bg-blue-500 {
  background-color: #00aeff;
}

.bg-blue-900 {
  background-color: #16222b;
}

.bg-bfGreen-100 {
  background-color: #d1f3e2;
}

.bg-bfGreen-400 {
  background-color: #1bd87b;
}

.bg-bfGreen-450 {
  background-color: #19ca73;
}

.bg-bfGreen-500 {
  background-color: #18c16e;
}

.bg-bfGreen-400-12 {
  background-color: rgba(27, 216, 123, 0.12);
}

.bg-bfGreen-400-14 {
  background-color: rgba(27, 216, 123, 0.14);
}

.bg-bfGreen-400-20 {
  background-color: rgba(27, 216, 123, 0.2);
}

.bg-masterMerchant-100 {
  background-color: #f0f5fa;
}

.bg-masterMerchant-200 {
  background-color: #e3f0fa;
}

.bg-masterMerchant-300 {
  background-color: #a9bdcb;
}

.bg-masterMerchant-400 {
  background-color: #008bf2;
}

.bg-masterMerchant-500 {
  background-color: #006bbb;
}

.bg-masterMerchant-800 {
  background-color: #353b50;
}

.bg-masterMerchant-400-12 {
  background-color: rgba(0, 139, 242, 0.12);
}

.bg-masterMerchant-400-14 {
  background-color: rgba(0, 139, 242, 0.14);
}

.bg-masterMerchant-400-20 {
  background-color: rgba(0, 139, 242, 0.2);
}

.bg-GASH-100 {
  background-color: #facce2;
}

.bg-GASH-200 {
  background-color: #f599c5;
}

.bg-GASH-300 {
  background-color: #ef66a8;
}

.bg-GASH-400 {
  background-color: #ea338b;
}

.bg-GASH-500 {
  background-color: #e5006e;
}

.bg-GASH-550 {
  background-color: #c0105f;
}

.bg-GASH-800 {
  background-color: #b70058;
}

.bg-GASH-500-12 {
  background-color: rgba(229, 0, 110, 0.12);
}

.bg-GASH-500-14 {
  background-color: rgba(229, 0, 110, 0.14);
}

.bg-GASH-500-20 {
  background-color: rgba(229, 0, 110, 0.2);
}

.bg-Contrast {
  background-color: #e5006e;
}

.bg-Text-AAAA {
  background-color: #494949;
}

.bg-Text-AAA {
  background-color: #545454;
}

.bg-Text-AA {
  background-color: #727171;
}

.bg-Text-A {
  background-color: #919191;
}

.bg-LabelColor {
  background-color: #8988a7;
}

.bg-Placeholder {
  background-color: #a2a2a2;
}

.bg-Primary {
  background-color: #e5006e;
}

.bg-LightPrimary {
  background-color: #facce2;
}

.bg-Primary-12 {
  background-color: rgba(229, 0, 110, 0.12);
}

.bg-Primary-14 {
  background-color: rgba(229, 0, 110, 0.14);
}

.bg-Primary-20 {
  background-color: rgba(229, 0, 110, 0.2);
}

.bg-Primary-80 {
  background-color: rgba(229, 0, 110, 0.8);
}

.bg-Secondary {
  background-color: #1f2f3c;
}

.bg-DarkSecondary {
  background-color: #131d24;
}

.bg-Secondary-12 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-Secondary-14 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bg-Secondary-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-Danger {
  background-color: #e22432;
}

.bg-LightDanger {
  background-color: #ffe3e4;
}

.bg-Danger-12 {
  background-color: rgba(255, 48, 62, 0.12);
}

.bg-Danger-14 {
  background-color: rgba(255, 48, 62, 0.14);
}

.bg-Danger-20 {
  background-color: rgba(255, 48, 62, 0.2);
}

.bg-Success {
  background-color: #64af22;
}

.bg-LightSuccess {
  background-color: #e8f9d9;
}

.bg-Success-12 {
  background-color: rgba(100, 175, 34, 0.12);
}

.bg-Success-14 {
  background-color: rgba(100, 175, 34, 0.14);
}

.bg-Success-20 {
  background-color: rgba(100, 175, 34, 0.2);
}

.bg-Warning {
  background-color: #ffc107;
}

.bg-LightWarning {
  background-color: #fff4d3;
}

.bg-Info {
  background-color: #00aeff;
}

.bg-LightInfo {
  background-color: #ccefff;
}

p,
span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  p,
  span {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 991px) {
  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 120%;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 130%;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 991px) {
  h4 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 130%;
  }
}

h5 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 130%;
}
@media (max-width: 991px) {
  h5 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 130%;
  }
}

.caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .caption {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
  }
}

.font-h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
}

.font-h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}

.font-h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 130%;
}

.font-h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
}

.font-h5 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 130%;
}

.font-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.font-body1-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

.font-body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.font-body2-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
}

.font-subtitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
}

.font-caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}

.font-overline {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
}

.font-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.font-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.font-tablet-h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 120%;
}

.font-tablet-h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 120%;
}

.font-tablet-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 130%;
}

.font-tablet-h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 130%;
}

.font-tablet-h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 130%;
}

.font-tablet-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.font-tablet-body1-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

.font-tablet-body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.font-tablet-body2-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
}

.font-tablet-subtitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
}

.font-tablet-caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}

.font-tablet-overline {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
}

.font-tablet-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.font-tablet-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.font-mobile-h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 120%;
}

.font-mobile-h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
}

.font-mobile-h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
}

.font-mobile-h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 130%;
}

.font-mobile-h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 130%;
}

.font-mobile-body1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

.font-mobile-body1-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
}

.font-mobile-body2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}

.font-mobile-body2-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
}

.font-mobile-subtitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 130%;
}

.font-mobile-caption {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}

.font-mobile-overline {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
}

.font-mobile-button {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.font-mobile-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 100%;
}

.breadcrumb-item {
  color: #727171;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .breadcrumb-item {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.125rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\e5cc";
  font-family: "Material Symbols Rounded";
  padding-right: 0.125rem;
}

.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.4375rem 0.9375rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  min-width: fit-content;
  word-break: keep-all;
  color: #727171;
  background-color: #ffffff;
  border: 0.0625rem solid #ededed;
}
.btn i {
  font-size: 1.25rem;
}
@media (hover: hover) {
  .btn:hover {
    color: #727171;
    background-color: #fcfcfc;
    border-color: transparent;
  }
}
.btn:disabled {
  color: #ffffff;
  background-color: #e2e2e2;
  border: 0.0625rem solid #e2e2e2;
}
.btn.btn-xs {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .btn.btn-xs {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.btn.btn-lg {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .btn.btn-lg {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.btn.btn-outline {
  color: #727171;
  background-color: transparent;
  border-color: #727171;
}
@media (hover: hover) {
  .btn.btn-outline:hover {
    color: #727171;
    background-color: #ededed;
  }
}
.btn.btn-flat {
  color: #727171;
  background-color: transparent;
  border-color: transparent !important;
}
@media (hover: hover) {
  .btn.btn-flat:hover {
    color: #727171;
    background-color: #ededed;
  }
}
.btn.btn-primary {
  color: #ffffff;
  background-color: #e5006e;
  border: 0.0625rem solid #e5006e;
}
@media (hover: hover) {
  .btn.btn-primary:hover {
    background-color: rgba(229, 0, 110, 0.8);
    border: 0.0625rem solid rgba(229, 0, 110, 0.8);
  }
}
.btn.btn-primary-outline {
  color: #e5006e;
  background-color: transparent;
  border-color: #e5006e;
}
@media (hover: hover) {
  .btn.btn-primary-outline:hover {
    color: #e5006e;
    background-color: #facce2;
  }
}
.btn.btn-primary-flat {
  color: #e5006e;
  background-color: transparent;
  border-color: transparent !important;
}
@media (hover: hover) {
  .btn.btn-primary-flat:hover {
    color: #e5006e;
    background-color: #facce2;
  }
}
.btn.btn-primary-light {
  color: #e5006e;
  background-color: #ffffff;
  border-color: transparent !important;
}
@media (hover: hover) {
  .btn.btn-primary-light:hover {
    opacity: 0.8;
  }
}
.btn.btn-primary-light-outline {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
@media (hover: hover) {
  .btn.btn-primary-light-outline:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
}
.btn.btn-primary-light-flat {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
@media (hover: hover) {
  .btn.btn-primary-light-flat:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
}
.btn.btn-secondary {
  color: #ffffff;
  background-color: #1f2f3c;
  border: 0.0625rem solid #1f2f3c;
}
@media (hover: hover) {
  .btn.btn-secondary:hover {
    background-color: #131d24;
    border: 0.0625rem solid #131d24;
  }
}
.btn.btn-outline-secondary {
  --bs-btn-color: #1f2f3c;
  --bs-btn-border-color: #1f2f3c;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #131d24;
  --bs-btn-hover-border-color: #131d24;
  --bs-btn-focus-shadow-rgb: 107, 10, 229;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #131d24;
  --bs-btn-active-border-color: #131d24;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #e2e2e2;
  --bs-btn-disabled-border-color: #e2e2e2;
  --bs-gradient: none;
}
.btn.btn-flat-secondary {
  --bs-btn-color: #1f2f3c;
  --bs-btn-hover-color: #131d24;
  --bs-btn-active-color: #131d24;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #1f2f3c;
  --bs-btn-disabled-border-color: #1f2f3c;
}

.card {
  border: none;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.12);
  border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
}

.dropdown-toggle {
  border: 0.0625rem solid #cccccc;
  background-color: #ffffff !important;
  background-image: url("../../images/icon_keyboardArrowDown.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
  padding-right: 2.5rem;
}
.dropdown-toggle::after {
  display: none;
}
@media (hover: hover) {
  .dropdown-toggle:hover {
    border-color: #cccccc;
  }
}
.dropdown-toggle:focus {
  border-color: #494949;
  box-shadow: 0 0 0.1rem 0 #3e3151;
}

.dropdown-menu {
  padding: 0.5rem 0.25rem;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.dropdown-menu .dropdown-container {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  max-height: 25rem;
  overflow-y: auto;
  padding: 0 0.25rem;
}
.dropdown-menu .dropdown-container::-webkit-scrollbar {
  width: 0.375rem;
  background-color: #ffffff;
  border-radius: 6.25rem 6.25rem 6.25rem 6.25rem;
}
.dropdown-menu .dropdown-container::-webkit-scrollbar-thumb {
  width: 0.3125rem;
  background-color: #e2e2e2;
  border-radius: 6.25rem 6.25rem 6.25rem 6.25rem;
}
.dropdown-menu .dropdown-container .dropdown-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  color: #545454;
  margin: 0;
}
.dropdown-menu .dropdown-container .dropdown-item.form-check .form-check-input {
  margin-left: 0;
  margin-right: 0.5rem;
}
@media (hover: hover) {
  .dropdown-menu .dropdown-container .dropdown-item:hover {
    background-color: #f9f9f9;
  }
}
.dropdown-menu .dropdown-container .dropdown-item.active {
  background-color: #ededed;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  color: #8988a7;
}
@media (max-width: 991px) {
  .form-label {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.form-label i {
  font-size: 1rem;
}
.form-label.required::before {
  content: "* ";
  color: #e22432;
}

.form-control {
  height: 2.5rem;
  border: 0.0625rem solid #cccccc;
}
.form-control:focus {
  border-color: #494949;
  box-shadow: 0 0 0.1rem 0 #3e3151;
}
.form-control.error {
  border: 0.0625rem solid #e22432;
}
.form-control::placeholder {
  color: #cccccc;
}
.form-control::-webkit-calendar-picker-indicator {
  filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

.helper-text {
  color: #8c8c8c;
  display: block;
}

.error-message {
  color: #e22432;
  display: block;
}

.query-btn-group {
  padding-top: 1.8125rem;
}

.form-check {
  color: #545454;
}
.form-check > * {
  cursor: pointer;
}
.form-check .form-check-input:focus {
  border-color: #facce2;
  box-shadow: none;
}
.form-check .form-check-input:checked {
  background-color: #e5006e;
  border-color: #e5006e;
}
.form-check .form-check-input.error {
  border-color: #e22432;
}
.form-check .form-check-input[disabled], .form-check .form-check-input:disabled {
  opacity: 0.3;
}
.form-check .form-check-input[disabled] ~ .form-check-label, .form-check .form-check-input:disabled ~ .form-check-label {
  opacity: 0.3;
}
.form-check .form-check-input.indeterminate {
  background-image: url("../../images/icon_indeterminate.svg");
  background-color: #e5006e;
  border-color: #e5006e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  ul {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
ul li {
  padding: 0.25rem 0;
}

.inner-table {
  width: 100%;
  border: 0.0625rem solid #e2e2e2;
  color: #727171;
}
.inner-table thead {
  background-color: #f9f9f9;
}
.inner-table thead tr th {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .inner-table thead tr th {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.inner-table thead tr th,
.inner-table thead tr td,
.inner-table tbody tr th,
.inner-table tbody tr td {
  text-align: center;
  padding: 0.75rem;
}

.datatable-container {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  overflow: hidden;
}

.datatable-table {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 0 !important;
  border: none;
}
.datatable-table thead > tr > th {
  color: #919191;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  background-color: #ededed;
}
@media (max-width: 991px) {
  .datatable-table thead > tr > th {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.datatable-table tbody > tr > td {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: #727171;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .datatable-table tbody > tr > td {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.datatable-table tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.datatable-table tbody > tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
@media (hover: hover) {
  .datatable-table tbody > tr:hover > td {
    background-color: #ededed;
    --bs-table-accent-bg: color(gray-100);
  }
}
.datatable-table thead > tr,
.datatable-table tbody > tr {
  border: none;
  position: relative;
}
.datatable-table thead > tr > th,
.datatable-table thead > tr > td,
.datatable-table tbody > tr > th,
.datatable-table tbody > tr > td {
  border: none;
  padding: 0.75rem;
  min-width: fit-content;
  white-space: nowrap;
}
.datatable-table thead > tr > th:first-child,
.datatable-table thead > tr > td:first-child,
.datatable-table tbody > tr > th:first-child,
.datatable-table tbody > tr > td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
.datatable-table thead > tr > th:first-child::before,
.datatable-table thead > tr > td:first-child::before,
.datatable-table tbody > tr > th:first-child::before,
.datatable-table tbody > tr > td:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 0.375rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.12) 0%, transparent 100%);
}
.datatable-table thead > tr > th:last-child,
.datatable-table thead > tr > td:last-child,
.datatable-table tbody > tr > th:last-child,
.datatable-table tbody > tr > td:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
}
.datatable-table thead > tr > th:last-child::before,
.datatable-table thead > tr > td:last-child::before,
.datatable-table tbody > tr > th:last-child::before,
.datatable-table tbody > tr > td:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 0.375rem;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, transparent 100%);
}

.datatable-bottom {
  background-color: #ededed;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  padding: 0.75rem;
}

.datatable-info {
  display: inline-block;
}

.table-container {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  overflow: hidden;
}

.custom-tooltip {
  --bs-tooltip-bg: rgba(84, 84, 84, 0.9);
  --bs-tooltip-color: var(--bs-white);
}
.custom-tooltip ul {
  padding: 0.5rem 1rem;
  list-style-type: disc;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  padding-left: 1.5rem;
}
@media (max-width: 991px) {
  .custom-tooltip ul {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.custom-tooltip ul li {
  padding: 0;
}

.container-fluid .page-title {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.05);
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-fluid .page-title h3 {
  color: #545454;
  display: inline;
}
.container-fluid .page-title h3 small {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
  color: #919191;
}
@media (max-width: 991px) {
  .container-fluid .page-title h3 small {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.container-fluid .page-title .page-description {
  color: #919191;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .container-fluid .page-title .page-description {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.container-fluid .content-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: #545454;
}
.container-fluid .content-section h5 {
  margin-bottom: 0;
}
.container-fluid hr {
  border-color: #e2e2e2;
  margin: 1.25rem 0;
  opacity: 1;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  height: 100%;
  width: 100%;
  color: #cccccc;
}

footer {
  padding: 2.5rem 1.25rem 1rem;
}
footer copyright {
  color: #a2a2a2;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  footer copyright {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
  }
}

.sb-topnav {
  height: auto;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.sb-topnav .navbar-brand {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  color: #cccccc;
}
@media (max-width: 991px) {
  .sb-topnav .navbar-brand {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 150%;
  }
}
.sb-topnav .navbar-brand div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.sb-topnav .navbar-brand div img {
  max-width: 100%;
  max-height: 0.875rem;
}
.sb-topnav .notification,
.sb-topnav .navbar-nav {
  cursor: pointer;
  color: #cccccc;
}
.sb-topnav .notification > li,
.sb-topnav .navbar-nav > li {
  height: 2.5rem;
}
.sb-topnav .notification .nav-link,
.sb-topnav .navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  gap: 0.5rem;
  color: #c3ccdd;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .sb-sidenav .sb-sidenav-menu .nav .nav-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link i {
  font-size: 1.25rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  color: #c3ccdd;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.active {
  background-color: #e5006e;
  color: #ffffff;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 0;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested .nav-link {
  padding: 0.5rem 1.5rem 0.5rem 3.25rem;
}

.header-dropdown .dropdown-menu {
  padding: 0;
}
.header-dropdown .dropdown-menu .dropdown-item {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  border-radius: 0rem 0rem 0rem 0rem;
  color: #545454;
}
.header-dropdown .dropdown-menu .dropdown-item a {
  color: #545454;
  text-decoration: none;
}
.header-dropdown .dropdown-menu .dropdown-item .notification-time {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
  color: #cccccc;
}
@media (max-width: 991px) {
  .header-dropdown .dropdown-menu .dropdown-item .notification-time {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 150%;
  }
}
.header-dropdown .dropdown-menu .dropdown-item + .dropdown-item {
  border-top: 0.0625rem solid #dddddd;
}
@media (hover: hover) {
  .header-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color: #e5006e;
  }
  .header-dropdown .dropdown-menu .dropdown-item:hover a {
    color: #e5006e;
  }
}
.header-dropdown .dropdown-menu .dropdown-item.read {
  background-color: #ededed;
  color: #545454 !important;
}